alias acc='get_account'
alias ga='git add'
alias gap='git add -p'
alias gc='git commit'
alias gch='git checkout'
alias gcm='git commit -m'
alias pull='git pull'
alias push='git push'
alias gs='git status'
